@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
@font-face {
  font-family: 'CustomFont';
  src: url('/fonts/SAIBA-45.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OutlineFont';
  src: url('/fonts/SAIBA-45-Outline.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    font-family: 'CustomFont', sans-serif !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* src/styles/globals.css */

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff; /* Change the background color as needed */
  z-index: 1000;
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* LOADER */

.loading-page {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;

  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  color: #191654;
}

#svg {
  height: 6rem;
  width: 6rem;
  stroke: red;
  fill-opacity: 0;
  stroke-width: 3px;
  stroke-dasharray: 4500;
  animation: draw 5s ease;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 4500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.name-container {
  height: 30px;
  overflow: hidden;
}

.logo-name {
  color: #fff;
  font-size: 20px;
  letter-spacing: 12px;
  text-transform: uppercase;
  margin-left: 20px;
  font-weight: bolder;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}


/* audio player */
/* styles/global.css */
/* styles/global.css */
.audio-player {
  position: fixed;
  bottom: 10px;
  left: 10px;
  /* background: rgba(0, 0, 0, 0.5); */
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.audio-player button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}




/* gadipake */

#rect_route {
  fill:transparent;
}
#rect text {
  pointer-events: none;
}

#svg_route {
  overflow: visible;
  height: 100%;
  transform: translateZ(0);
}

#path_route {
  stroke-width: 2;
  stroke: red;
  background-color: transparent;
  fill:transparent;
}
/* gadipake */

.rounded-circle {
  background: transparent;
  border:1px solid #42BFDC;
  box-shadow: 0 0 30px 10px #42BFDC /* Adjust the color and opacity as needed */
}